<a href="https://colab.research.google.com/github/Hanzala6701/Data-structure-/blob/main/copy_of_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) What are data structures, and why are they important?

 -Data structures are a way of organizing and storing data in a computer so that it can be used efficiently.

2)Explain the difference between mutable and immutable data types with examples.

-Mutable data types are those whose values can be changed after they are created, while immutable data types cannot be modified once created.

3) What are the main differences between lists and tuples in Python?

-Lists and tuples are both used to store sequences of items in Python, but they differ significantly in their mutability and usage.

4)Describe how dictionaries store data?

-Dictionaries are unordered collections of data and are represented with curly brackets { } .

5)Why might you use a set instead of a list in Python?

-Sets and lists are both used to store collections of items in Python, but they have key differences that make them suitable for different tasks.

6) What is a string in Python, and how is it different from a list?

-A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list)

7) What is a string in Python, and how is it different from a list?

-A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list referred to as a nested list.

8) What is a hash table, and how does it relate to dictionaries in Python?

-A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index (hash code) for each key, which determines where the value is stored in an underlying array.

9) Can lists contain different data types in Python?

-Yes, lists in Python can contain different data types. This means a single list can hold integers, floats, strings, booleans, and even other lists, tuples, or dictionaries.

10) Explain why strings are immutable in Python.

-In Python, strings are immutable, which means that once a string is created, its value cannot be altered.

11) What advantages do dictionaries offer over lists for certain tasks?

-Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12) Describe a scenario where using a tuple would be preferable over a list.

-Use a tuple if you need an immutable collection where the elements won't change after creation.

13) How do sets handle duplicate values in Python?

-In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it does not raise an error, but it also does not add the duplicate.

14) How does the "in" keyword work differently for lists and dictionaries?

-The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm.

15) Can you modify the elements of a tuple? Explain why or why not.

-No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation.

16) What is a nested dictionary, and give an example of its use case?

-A nested dictionary is a dictionary where at least one of the values is itself a dictionary.

17) Describe the time complexity of accessing elements in a dictionary.

-Accessing elements in a dictionary (also known as a hash map or associative array) typically has a time complexity of O(1) on.

18) in what situations are lists preferred over dictionaries?

-For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19)Why are dictionaries considered unordered, and how does that affect data retrieval?

-dictionaries do not maintain any inherent order of the items based on when they were added.

20) Explain the difference between a list and a dictionary in terms of data retrieval.

-In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key.

In [ ]:
# 1- Write a code to create a string with your name and print it.
name = "Hanzala Charfare"
print("My name is:", name)

My name is: Hanzala Charfare

In [ ]:
# 2-Write a code to find the length of the string "Hello World".
string = "hello world"
length = len(string)
print(length)

11

In [ ]:
# 3-Write a code to slice the first 3 characters from the string "Python Programming".
original_string = "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

In [ ]:
# 4-Write a code to convert the string "hello" to uppercase.
original_string = "hello"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO

In [ ]:
# 5-. Write a code to replace the word "apple" with "orange" in the string like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:

# 6-Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7- Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:

# 8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]..
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9- Write a code to access the second element in the list ['a', 'b', 'c', 'd').
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:

# 10- Write a code to reverse the list (10, 20, 30, 40, 50).
original_tuple = (10, 20, 30, 40, 50)
temp_list = list(original_tuple)
temp_list.reverse()
reversed_tuple = tuple(temp_list)
print(reversed_tuple)

(50, 40, 30, 20, 10)

In [ ]:
# 11- Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [ ]:
# 13- Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [ ]:
# 14- Write a code to find the index of the element "cat" in the tuple ('dog, 'cat, rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [ ]:
# 15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
# 16- Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [ ]:
# 17- Write a code to clear all elements from the set {1, 2, 3, 4, 5).
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18-Write a code to remove the element 4 from the set (1, 2, 3, 4).
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19- Write a code to find the union of two sets (1, 2, 3) and (3, 4, 5).
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [ ]:
# 20- Write a code to find the intersection of two sets (1, 2, 3) and (2, 3, 4).
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:

# 21- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Hanzala",
    "age": 23,
    "city": "Mumbai"
}
print(person)

{'name': 'Hanzala', 'age': 23, 'city': 'Mumbai'}

In [ ]:
# 22- Write a code to add a new key-value pair "country": "USA" to the dictionary ('name': 'Hanzala', 'age': 23).
person = {
    "name": "Hanzala",
    "age": 23,
    "city": "New York"
}
print(person)

{'name': 'Hanzala', 'age': 23, 'city': 'New York'}

In [ ]:
# 23-Write a code to access the value associated with the key "name" in the dictionary ['name': 'Alice', 'age: 30).
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [ ]:
# 24-Write a code to remove the key 'age' from the dictionary ('name': 'Hanzala', 'age': 23, 'city: 'New York).
person = {
    'name': 'Hanzala',
    'age': 23,
    'city': 'New York'
}
person.pop('age')
print(person)

{'name': 'Hanzala', 'city': 'New York'}

In [ ]:
# 25- Write a code to check if the key "city' exists in the dictionary [name: 'Alice', 'city: 'Paris').
person = {
    'name': 'Alice',
    'city': 'Paris'
}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
# 26- Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {
    'name': 'John',
    'age': 28,
    'city': 'London'
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 28, 'city': 'London'}

In [ ]:
# 27-Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [4, 20, 50, 60, 73]

In [ ]:
# 28- Write a code to create a list with strings and print the element at the third index.
fruits = ["apple", "banana", "cherry", "orange", "grape"]
print("Element at index 3:", fruits[3])

Element at index 3: orange

In [ ]:
# 29- Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30-Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'apple', 'banana', 'cherry'}